*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500;
}

body{
    background-color: #222222;
    color: white;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.logo{
    width: 50px;
    height: 50px;
    color:#8BA4FF;
}

.padding{
    padding: 50px 200px;
}

.flex{
    display: flex;
}

.between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.gap-4{
    gap: 16px;
}

.link-button{
    padding: 16px;
    background: #FFFFFF;
    color:black;
    border-radius: 4px;
    transition: all .5s ease-out;
}
.link-button:hover{
    background-color: #8BA4FF;
    color:white;
}
.link{
    color:white;
    transition: all .5s ease-out;
}
.link:hover{
    color: #8BA4FF;
}