*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Helvetica, Arial;
    font-weight:500;
    cursor: none;
}

body{
    background-color: #000000;
    color: white;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.logo{
    width: 75px;
    height: 75px;
    color:#8BA4FF;
    justify-self: start;
    transition: all .5s ease-out;
}

.padding{
    padding: 40px 200px;
}

.flex{
    display: flex;
}

.between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.gap-4{
    gap: 16px;
}
.gap-2{
    gap: 8px;
}

.menu{
    padding: 20px 40px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2); 
    justify-self: center;
}

.link-button{
    padding: 20px 40px;
    border: 2px white solid;
    color:white;
    border-radius: 30px;
    transition: all .5s ease-out;
    font-weight: 600;
    justify-self: end;
}
.link-button:hover{
    color:black;
    background-color: white;
}
.link{
    color:#dddddd;
    transition: all .5s ease-out;
    font-weight: 500;
}
.link:hover{
    color: white;
}
.gradient-img{
    background-image: url("/static/images/gradient.svg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.name{
    font-size:larger;
    font-weight: 600;
}
.hero{
    font-size: 100px;
    font-weight: bold;
}
.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
}
.sub-heading{
    font-size: xx-large;
    font-weight: 600;
}
.grid{
    display: grid;
    align-items: center;
}
.grid-cols-3{
    grid-template-columns: 1fr 1fr 1fr;
}
.button{
    background-color: #5170ff;
    padding: 20px 40px;
    color:white;
    border-radius: 30px;
    transition: all .5s ease-out;
    font-weight: 600;
}
.button:hover{
    background-color: white;
    color:#5170ff
}
.work-xp{
    background: white;
    border-radius: 30px;
    padding: 32px 0px;
}
.black-header{
    font-size: xx-large;
    font-weight: bold;
    color:black;
}
.black-subheader{
    font-weight: 600;
    color:black;
}
.experience{
    border: 2px black solid;
    border-radius: 30px;
    color:black;
    height: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.gap-8{
    gap:32px;
}
.color-grey{
    color:#666666;
}
.experience ul{
    gap:32px;
    padding: 0px 14px;
}
.experience li{
    margin-bottom: 8px;
}
hr{
    border: none;
    height: 1px;
    background: black;
    margin: 0;
    padding: 0;
}
.skills{
    background-color: #000000;
    color:white;
    padding: 32px 0px;
}
.white-header{
    font-size: xx-large;
    font-weight: bold;
    color:white;
}
.white-subheader{
    font-weight: 600;
    color:white;
}
.grid-cols-4{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.skills-card{
    border: 2px #5170ff solid;
    border-radius: 30px;
    padding: 32px;
    height: 100%;
}
.skills ul{
    gap:32px;
    padding: 0px 14px;
}
.skills li{
    margin-bottom: 8px;
}
.skills hr{
    border: none;
    height: 1px;
    background: white;
    margin: 0;
    padding: 0;
}
.projects{
    background-color: white;
    border-radius: 30px;
    padding: 32px 0px;
}
.grid-cols-2{
    grid-template-columns: 1fr 1fr;
}
.project-image{
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 30px;
    border: 2px black solid;
    padding: 25px;
    transition: all .5s ease-out;
}
.project-image:hover{
    scale: 1.01;
}
.rotate{
    transform: rotate(270deg);
}
.footer{
    padding: 32px 0px;
}
