:root{
    --color-blue-500: #758EEA;
    --color-gray-800: #222222;
    --color-gray-600: #333333;
    --color-gray-400: #444444;
    --color-gray-200: #CCCCCC;
    --color-white: #ffffff;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    width: 100vw;
    color: var(--color-white);
    background-color: var(--color-blue-500);
}
h1{
    font-size: 32px;
    font-weight: bold;
}
h2{
    font-size: 16px;
    font-weight: bold;
}
h3{
    font-size: 16px;
    font-weight: bold;
    color: var(--color-gray-200);
}
p{
    font-size: 16px;
    color: var(--color-gray-200)
}
a{
    text-decoration: none; 
    color: inherit;
    cursor: pointer;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    height: 100vh;
    width: 100%;
}
.navigation{
    grid-column: span 2;
    background-color: var(--color-gray-600);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 64px 32px;

}
.upper-nav{
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.profile{
    display: flex;
    gap: 12px;
    align-items: center;
}
.profile-image{
    width: 48px;
    height: 48px;
}
.profile-text{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.links{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.links-link{
    width: 100%;
    height: 48px;
    padding: 0px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    color: var(--color-gray-200);
    font-size: 16px;
    font-weight: bold;
    transition: all 0.5s ease;
}
.links-link:hover{
    background-color: var(--color-gray-400);
    color: var(--color-white);
}
.links-link-active{
    background-color: var(--color-gray-400);
    width: 100%;
    height: 48px;
    padding: 0px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    color: var(--color-white);
    font-size: 16px;
    font-weight: bold;
}
.lower-nav{
    display: flex;
    justify-content: space-between;
    color: var(--color-white)
}
.lower-nav svg{
    width: 24px;
    height: 24px;
    fill: var(--color-white)
}

.content {
    height: 100%;
    grid-column: span 10;
    padding: 64px 64px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 48px;
    width: 100%;
    background-color: var(--color-gray-800);
    justify-items: stretch;
}
.content h3{
    grid-row: span 1;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    grid-row: span 1;
    align-self: end;
    align-items: center;
}

.home-content{
    grid-row: span 10;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.home-image{
    width: 60%;
    border-radius: 8px;
}
.home-links{
    display: flex;
    gap: 32px;
}
.home-links a{
    color: var(--color-blue-500)
}
.home-text{
    width: 80%;
}
.experience-card{
    background-color: var(--color-gray-600);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    border-radius: 8px;
}
.experience-card h2{
    color: var(--color-blue-500);
    width: 50%;
}
.experience-card p{
    width: 50%;
}
.experience-content{
    grid-row: span 10;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.project-card{
    background-color: var(--color-gray-600);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
}
.project-card img{
    width: 100%;
    aspect-ratio: 5 / 3;
    border-radius: 8px;
}
.project-card h2{
    color: var(--color-blue-500);
}
.projects-content{
    grid-row: span 10;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
}
.button-primary{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue-500);
    border-radius: 8px;
    padding: 16px 32px;
    width: fit-content;
    transition: all 0.5s ease;
}
.button-primary:hover{
    opacity: 80%;
}
.systems{
    color: var(--color-blue-500);
    display: flex;
    gap: 4px;
    align-items: center;
}
.systems svg{
    fill: var(--color-blue-500);
    height: 16px;
    width: 16px;
}
.contact-content{
    width: 100%;
    grid-row: span 10;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.mobile-header{
    display: none;
}
.mobile-menu{
    display: none;
}

@media (max-width: 1000px) {
    .navigation{
        display: none;
    }
    .mobile-hamburger{
        width: 32px;
        height: 32px;
    }
    .mobile-hamburger:hover{
        cursor: pointer;
    }
    .content{
        grid-column: span 12;
        padding: 32px 32px;
    }
    .mobile-header{
        display: flex;
        background-color: var(--color-gray-800);
        padding: 32px 32px;
        justify-content: space-between;
        align-items: center;
    }
    .projects-grid{
        grid-template-columns: 1fr;
    }
    .project-card img{
        
    }
    .mobile-menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: var(--color-gray-800);
        justify-content: space-between;
    }
    .mobile-close:hover{
        cursor: pointer;
    }
    .mobile-menu{
        padding: 32px 32px;
    }
    .mobile-menu-header{
        display: flex;
        background-color: var(--color-gray-800);
        justify-content: space-between;
        align-items: center;
    }
    .mobile-menu-link{
        font-size: 24px;
        font-weight: bold;
    }
    .mobile-menu-link-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-menu-top{
        display: flex;
        flex-direction: column;
        gap: 64px;
    }
    .home-image{
        width: 100%;
    }
    .home-text{
        width: 100%;
    }
    .experience-card p{
        width: 100%;
    }
}