<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/static/images/logo.png">
    <title>Matthew Wright</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js" defer></script>
</head>
<body>
    <div>
    <header class="header header-hidden">
        <a href="/">
            <h3 class="logo">MTTEWRI</h3>
        </a>
        <div class="menu-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="menu">
                <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
            </svg>

            <div class="menu-content">
                <a href="/">Home</a>
                <a href="#work">Work</a>
                <a href="#about">About</a>
                <a href="#contact">Contact</a>
            </div>
        </div>
    </header>
    <section class="hero">
        <div class="hero-text">
            <p class="hero-p hidden">WEB DEVELOPER</p>
            <h1 class="hero-h1 hidden">Matthew<br>Wright</h1>
            <p class="hero-p hidden">Hello,<br>I'm Matthew Wright, a developer based out of Austin Texas.<br>Shoot me a message I would love to chat.</p>
        </div>
        <p class="hero-work hidden">• Available For Work</p>
    </section>
    <section class="scroll">
        <div class="scroll-container hidden">
            <div class="scroll-content">
                <div class="scroll-content-group">
                    <p class="scroll-p">HTML</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">CSS</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">JavaScript</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">React</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Next.js</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Tailwind</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Node.js</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Python</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Flask</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">SQL</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Firebase</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Supabase</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Git</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Figma</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Canva</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Linux</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">AWS</p>
                    <p class="scroll-p">•</p>
                </div>
                <div class="scroll-content-group">
                    <p class="scroll-p">HTML</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">CSS</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">JavaScript</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">React</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Next.js</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Tailwind</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Node.js</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Python</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Flask</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">SQL</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Firebase</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Supabase</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Git</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Figma</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Canva</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">Linux</p>
                    <p class="scroll-p">•</p>
                    <p class="scroll-p">AWS</p>
                    <p class="scroll-p">•</p>
                </div>
            </div>
        </div>
    </section>
    <section class="work" id="work">
        <div class="work-upper hidden">
            <p>SELECTED PROJECTS</p>
            <h2 class="work-h2">Work</h2>
        </div>
        <div class="work-card hidden">
            <div class="work-card-text">
                <p>AI Made Easier / 2025-2026</p>
                <h3>Course Based Website</h3>
                <p>Created course based selling website using Next.js and Strapi. Originally used Next.js, Express.js, and Mongo DB.</p>
                <a href="https://aimadeeasier.com" target="_blank" class="button-white">Explore -></a>
            </div>
            <img src="/static/images/aimadeeasier.png" class="work-card-img"/>
        </div>
        <div class="work-card hidden">
            <div class="work-card-text">
                <p>Elementy / 2026</p>
                <h3>SaaS Application</h3>
                <p>Created full stack SaaS application to let users create and save UI components using AI. Created using React.js, Express.js, Firebase, and deployed using Vercel.</p>
                <a href="https://elementy.io" target="_blank" class="button-white">Explore -></a>
            </div>
            <img src="/static/images/elementy.png" class="work-card-img"/>
        </div>
    </section>
    <section class="about" id="about">
        <div class="about-upper hidden">
            <p>MY STORY</p>
            <h2 class="work-h2">About</h2>
        </div>
        <div class="about-wrapper hidden">
            <p>I’m focused on building modern web experiences that are clean, functional, and easy to use. I enjoy working across both design and development, turning ideas into real products that feel smooth, intentional, and well thought out.<br><br>A lot of my work revolves around web development and UI/UX design, with a strong emphasis on simplicity, performance, and clarity. I like creating interfaces that don’t feel cluttered or confusing, just clean layouts that do what they’re supposed to do really well.<br><br>I spend most of my time experimenting with new ideas, improving my skills, and building projects from the ground up. Whether it’s a small interface or a full application, I care about making sure everything feels consistent and polished.<br><br>At the core, I’m always trying to improve how things look, how they work, and how users interact with them, making digital experiences that feel effortless.</p>
            <div class="about-experience">
                <p>EXPERIENCE</p>
                <div class="about-experience-item">
                    <div class="about-experience-text">
                        <h3>AI Made Easier</h3>
                        <p>Front End Developer Intern</p>
                    </div>
                    <p>2025 - Now</p>
                </div>
                <div class="about-experience-item">
                    <div class="about-experience-text">
                        <h3>Versus X</h3>
                        <p>Full Stack Developer Intern</p>
                    </div>
                    <p>2025 - 2026</p>
                </div>
                <div class="about-experience-item">
                    <div class="about-experience-text">
                        <h3>Freelance</h3>
                        <p>Web Developer</p>
                    </div>
                    <p>2023 - 2025</p>
                </div>
            </div>
        </div>
    </section>
    <section class="contact" id="contact">
        <div class="contact-upper hidden">
            <p>GET IN TOUCH</p>
            <h2>Contact</h2>
        </div>
        <p class="contact-text hidden">Have a question or want to work together?<br> I’m always open to new ideas, projects, and opportunities.<br>Send a message and I’ll get back to you soon.</p>
        <a href="mailto:matthewjwright07@gmail.com" target="_blank" class="button-white hidden">Let's Talk -></a>
    </section>
    <footer class="footer">
        <p class="hidden">&copy; 2026 Matthew Wright</p>
        <div class="footer-links hidden">
            <a class="footer-link" href="mailto:matthewjwright07@gmail.com" target="_blank">Email</a>
            <a class="footer-link" href="https://www.linkedin.com/in/matthew-wright-3a9818396/" target="_blank">LinkedIn</a>
            <a class="footer-link" href="https://github.com/matthew-wright07" target="_blank">GitHub</a>
            <a class="footer-link" href="/static/matthew_wright_resume.pdf" target="_blank">Resume</a>
        </div>
    </footer>
</body>
</html>